<template>
  <v-card>
    <v-card-title>
      <v-text-field
        label="Поиск по URL"
        v-model="search"
        single-line
      >
      </v-text-field>
    </v-card-title>

    <v-card-text>
      <v-data-table
        :headers="headers"
        :items="items"
        :items-per-page="10"
        :search="search"
        :loading="loading"
        loading-text="Идет загрузка..."
      >
        <template #top>
          <v-btn
            @click="download"
            color="primary"
            outlined
          >
            Выгрузить в excel сайты использующие Laravel
          </v-btn>
        </template>

        <template #item.laravel="{ item }">
          <v-chip :color="getColor(item.laravel)">
            {{ item.laravel }}
          </v-chip>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  middleware: 'auth',
  
  data() {
    return {
      headers: [
        {
          text: 'URL',
          value: 'url'
        },
        {
          text: 'Laravel',
          value: 'laravel'
        }
      ],
      items: [],
      search: '',
      loading: true
    }
  },

  methods: {
    async getItems() {
      await axios.get('/api/history')
       .then(res => {
          this.items = res.data
          this.loading = false
        })
    },

    download() {
      axios.get('/api/export', {responseType: 'arraybuffer'})
        .then(response => {
          let blob = new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
          let link = document.createElement('a')
          link.href = window.URL.createObjectURL(blob)
          link.download = 'Сайты.xlsx'
          link.click()
        })
    },

    getColor(laravel) {
      if (laravel == 'Использует') {
        return 'success'
      }
    }
  },

  created: function() {
    this.getItems()
  },
  
  metaInfo () {
    return { title: 'История проверок' }
  }
}
</script>