<template>
  <v-card>
    <v-card-text>
      <v-textarea
        filled
        v-model="domains"
      ></v-textarea>
      <v-btn
        color="success"
        outlined
        @click="submit"
      >
        Начать
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios'
export default {
  middleware: 'auth',

  data() {
    return {
      domains: ''
    }
  },

  methods: {
    async submit() {
      let domainsArray = this.domains.split('\n')
      await axios.post('/api/check', {domains: domainsArray})
    }
  },

  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
