<template>
  <v-app>
    <navbar />
    
    <v-container fluid>
      <child />
    </v-container>
  </v-app>
  <!-- <div class="main-layout">
    <navbar />

    <div class="container-lg mt-4">
      <child />
    </div>
  </div> -->
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'MainLayout',

  components: {
    Navbar
  }
}
</script>
