<template>
  <v-row>
    <v-col
      lg="5"
      class="mx-auto"
    >
      <v-card class="text-center pa-1">
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
        >
          <v-card-title
            class="justify-center display-1 mb-2" 
            color="gray"
          >
            {{ $t('login') }}
          </v-card-title>
        </v-img>
        <v-card-text>
          <v-form ref="form" lazy-validation>
            <v-text-field
              v-model="form.email"
              :label="$t('email')"
              name="email"
            ></v-text-field>

            <v-text-field
              v-model="form.password"
              :label="$t('password')"
              name="password"
              type="password"
            ></v-text-field>

            <v-btn
              :loading="form.busy"
              block
              x-large
              color="primary"
              @click="login"
            >
              {{ $t('login') }}
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Form from 'vform'
import Cookies from 'js-cookie'
import LoginWithGithub from '~/components/LoginWithGithub'

export default {
  components: {
    LoginWithGithub
  },

  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/api/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.redirect()
    },

    redirect () {
      const intendedUrl = Cookies.get('intended_url')

      if (intendedUrl) {
        Cookies.remove('intended_url')
        this.$router.push({ path: intendedUrl })
      } else {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>
